.task {
    display: flex;  
}

.taskbox {
    margin: 8px;
    padding-left: 32px;
    background: white;
    height: 120px;
    width: 300px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}

.title {
    font-size: 16px;
}

.subtitle {
    font-size: 14px;
}